{% extends "articles/articles-base.html" %}

{% block main %}
<h1>Article</h1>
<p>title: {{ article.title }}</p>
<p>created: {{ article.created }}</p>
<p>body: {{ article.body|linebreaks }}</p>
<div class="btn-group" role="group" aria-label="first group">
  <a class="btn btn-outline-primary" href="{% url 'articles:update' article.id %}" role="button">Edit</a>
</div>
<div class="btn-group" role="group" aria-label="second group">
  <a class="btn btn-outline-danger" href="{% url 'articles:delete' article.id %}" role="button">Delete</a>
</div>
<hr>
<p>Add your comment.</p>

{% include "_tweak-form.html" %}
<hr>
<p>Comments:</p>
{% for comment in comments %}
<p>{{ comment.body }}</p>
{% endfor %}

{% endblock %}
